@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */

body {
  font-family: 'Roboto', sans-serif;
  background-color: #eaeaea;
}

/* For sliding in from the right */
.slide-right-enter {
  transform: translateX(100%);
}
.slide-right-enter-active {
  transform: translateX(0%);
  transition: transform 500ms;
}
.slide-right-exit {
  transform: translateX(0%);
}
.slide-right-exit-active {
  transform: translateX(-100%);
  transition: transform 500ms;
}

/* For sliding in from the left */
.slide-left-enter {
  transform: translateX(-100%);
}
.slide-left-enter-active {
  transform: translateX(0%);
  transition: transform 500ms;
}
.slide-left-exit {
  transform: translateX(0%);
}
.slide-left-exit-active {
  transform: translateX(100%);
  transition: transform 500ms;
}
